@font-face {
  font-family: "MppMain";
  src: url("../assets/font/Segoe UI.ttf");
}

@font-face {
  font-family: "MppMainBold";
  src: url("../assets/font/Segoe UI Bold.ttf");
}

@font-face {
  font-family: "MppAirport";
  src: url("../assets/font/Skyfont-NonCommercial.otf");
}

@font-face {
  font-family: "MppDeparture";
  src: url("../assets/font/DepartureMono-Regular.otf");
}

:root {
  --color-lines: #334;
  --color-main: #fff;
  --color-second: #ccc;
}


body {
  margin: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-family: MppDeparture, serif;
  //background: linear-gradient(to bottom right, #141a39, #131313);
  background-color: #131313;
  color: white;
  overflow: hidden;
}

.team1 {
  color: #34d9eb;
}

.team2 {
  color: #eb4634;
}

hr {
  border-color: var(--color-lines);
}

h3 {
  margin: 8px 0;
}

